# Copy this file to .env and fill in the values

# --- CONTAINER / SERVICE NAMES ---
OLLAMA_NAME=ai-ollama-prod-1
WEBUI_NAME=ai-openwebui-prod-1

# --- HOST PORT MAPPINGS ---
OLLAMA_PORT=11434
WEBUI_PORT=3000

# --- HOST VOLUME PATHS ---
OLLAMA_DATA_PATH=./ollama
WEBUI_DATA_PATH=./openwebui_data
